<div class="w-full h-full flex flex-col p-4 bg-white">
  <h1 class="font-bold  text-3xl text-gray-700">Operaciones</h1>
  <p class="text-gray-400">Elige una de las operaciones, transfiere dinero o visualiza tus movimientos</p>
  <div class="border-b w-full pt-4"></div>
  <div class="flex flex-col justify-center sm:flex-row gap-5 m-auto">
    <section (click)="goToDefinedOperation('transferencia');" class="w-full sm:w-1/2 cursor-pointer bg-white rounded-md flex flex-col justify-center p-4 h-52 shadow-md">
        <h1 class="flex flex-col gap-2 text-center font-bold text-blue-500 text-3xl">
          <mat-icon class="self-center icon-size-10 text-blue-500" svgIcon="heroicons_outline:currency-dollar"></mat-icon>
        Transferencia
      </h1>
      <p class="text-center text-blue-500">Transfiere tu dinero cuando quieras y a donde quieras</p>
    </section> 
    <section (click)="goToDefinedOperation('historial');" class="w-full sm:w-1/2 cursor-pointer bg-white rounded-md flex flex-col justify-center p-4 h-52 shadow-md">
      <h1 class="flex flex-col gap-2 text-center font-bold text-blue-500 text-3xl">
        <mat-icon class="self-center icon-size-10 text-blue-500" svgIcon="history"></mat-icon>
        Historial
      </h1>
      <p class="text-center text-blue-500">Observa tu historial de transferencias</p>
    </section>  
  </div>
</div>
